{{> navregis}}

<section class="hero hero-bg d-flex justify-content-center align-items-center">
    
    <div class="container">
{{#if mensaje}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{#each mensaje}}
        <div>{{msg}}</div>
        {{/each}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
        <div class="row">

            <div class="container">

                <div class="d-flex justify-content-center h-100">

                    <div class="card-group" style="background-color: rgba(0, 0, 0, 0.377);">
                        <div class="card-header">
                            
                        </div>

                        <div class="card-body" >
                            <h1 class="text-white text-center card-title" style="align: center ;">Registrate</h1>
                            <form action="/registro" method="post">

                                 <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="nombre" id="nombre"
                                        placeholder="Nombre(s)" value="{{inputData.nombre}}">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="appPaterno" id="appPaterno"
                                        placeholder="Apellido Paterno" value="{{inputData.appPaterno}}">
                                    <input type="text" class="form-control" name="appMaterno" id="appMaterno"
                                        placeholder="Apellido Materno" value="{{inputData.appMaterno}}">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Correo Electrónico" value="{{inputData.email}}">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-image"></i></span>
                                    </div>
                                    <input type="file" accept=".jpg,.png,." class="form-control" name="rutaFoto" id="rutaFoto" placeholder="Foto de perfil">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input type="password" name="contrasena" id="contrasena"
                                        class="form-control" placeholder="Contraseña" value="">
                                    <input type="password" name="contrasena2" id="contrasena2"
                                        class="form-control" placeholder="Confirmar Contraseña" value="">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                                    </div>
                                  <select name="role" id="role"
                                        class="form-control" value="{{inputData.role}}">
                                    <option value="mujer">Mujer</option>
                                    <option value="hombre">Hombre</option>
                                </select>
                                </div>

                                <div class="form-group">
                                   <a href="/home" class="btn float-right btn btn-danger">Cancelar</a> 
                                    <button type="submit" class="btn float-right btn-success">Aceptar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
